<%- include("../layouts/adminheader"); -%>
    <div class="container my-3">

        <h2 class="page-title">Categories</h2>
        <a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>
        <br><br>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<category.length;i++) { %>
                    <tr>
                        
                        <td>
                            <%= category[i].title %>
                        </td>
                        <td><a href="/admin/categories/edit-category/<%= category[i]._id %>">Edit</a></td>
                        
                        
                        <td>
                            
                            <a class="btn btn-raised btn-danger"
                            href="/admin/categories/delete-category/<%=category[i]._id%>">Delete</a>
                        </td>
                    </tr>
                <%}%>                    
            </tbody>
        </table>
    </div>
<%- include("../layouts/adminfooter"); -%>