<%- include("../layouts/adminheader"); -%>
    <h2 class="page-title">Categories</h2>
    <a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>
    <br><br>

    <table class="table table-striped">

        <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<category.length;i++) { %>
                <tr>
                    <td class="text-center"> <%= i %>  </td>
                    <td>
                        <%= category[i].title %>
                    </td>
                    <td class="text-center">
                        <a href="/admin/categories/edit-category/<%= category[i]._id %>" class="text-primary">
                            <%- include('../partials/editButton'); %>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="confirmDeletion text-danger"
                            href="/admin/categories/delete-category/<%=category[i]._id%>">
                            <%- include('../partials/deleteButton'); %>
                        </a>
                    </td>
                </tr>
                <%}%>

        </tbody>
    </table>
    <%- include("../layouts/adminfooter"); -%>