<%- include("./layouts/header");-%>

  <div class="row align-items-start mx-auto">
    <% products.forEach(({_id, title, price, category, images}) => { %>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card" style="max-width: 18rem;">
          <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% images.forEach((img,i) => {%>
                    <div class="carousel-item <%= (i === 0) ?" active" : "" %> ">
                        <img src="<%=img.url%>" class="d-block w-100" alt="<%= title %> ">
                    </div>
                <% }) %>
            </div>
            <% if(images.length > 1) {%>
              <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
            <% } %>
        </div>
          <div class="card-body">
            <h5 class="card-title"><%= title %></h5>
  
            <a href="/products/<%= _id %> " class="">See Details</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

<%- include("./layouts/footer");-%>