<%- include("./layouts/header");-%>

    <div class="container my-3">
        <table class="table table-striped alignmiddle">
            <thead>
                <tr>
                    <th>title</th>
                    <th>price</th>
                    <th>image</th>
                    <th>quantity</th>
                    <th></th>
                    <th></th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% carts.forEach((cart)=>{%>
                    <% total=total+cart.totalPrice; %>
                        <%qty=qty+cart.quantity %>

                            <% product.forEach((pro)=>{%>


                                <% if(cart.products[0].toString()===pro._id.toString() ){%>

                                    <tr>
                                        <td>
                                            <%=pro.title%>
                                        </td>
                                        <td>
                                            <%=pro.price%>
                                        </td>
                                        <td class="">
                                            <% pro.images.forEach((img,i)=>{%>
                                                <div class="carousel-item <%= i==0? 'active' : '' %> ">
                                                    <img src="<%=img.thumbnail%>" class="d-block w-50" alt="">
                                                </div>
                                                <% }) %>
                                        </td>
                                        <td>
                                            <%=cart.quantity %>
                                        </td>
                                        <td>
                                            <a href="/cart/<%=pro._id %> ">Add</a>
                                        </td>
                                        <td>
                                            <% if(cart.quantity==1){%>
                                                <a href="/carts/<%=cart._id %> ">-</a>
                                            <% } else{%>
                                                <a href="/carts/<%=pro._id %> ">-</a>
                                            <% } %>
                                        </td>
                                        <td>
                                            <%=cart.totalPrice %>
                                        </td>

                                        <td>
                                            <a href="/mycart/<%=cart._id %>"> Clear</a>
                                        </td>
                                    </tr>

                                    <form method="post" action="/pay">
                                        <input type="hidden" name="quantity" value="<%=cart.quantity%>">
                                        <input type="hidden" name="price" value="<%=pro.price %> ">
                                        <% }%>

                                            <% }) %>
                                                <%}) %>
                                                    <button class="btn-danger">action</button>
                                    </form>

            </tbody>

        </table>
    </div>

    <div class="" style="float: right;margin-right: 50px;">
        <h4>total:<%=total %>
        </h4>

        <!-- <form method="post" action="/pay">
            <input type="hidden" name="quantity" value="<%=//qty%>">
            <input type="hidden" name="price" value="<%=//total %> ">
            <button class="btn-danger">action</button>

        </form> -->


    </div>
    <%- include("./layouts/footer");-%>