<%- include("./layouts/header");-%>

    <div class="row">
        <div class="col-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">


                    <% product.images.forEach((img,i)=>{%>
                        <div class="carousel-item <%= i===0?" active":"" %> ">
                            <img src="<%=img.url%>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if(product.images.length> 1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>

            <div class="card mb-3" style="text-align: center;">
                <div class="card-body">

                    <h5 class="card-title">
                        <%=product.title %>
                    </h5>
                </div>
                <p class="card-text">
                    <%=product.desc %>
                </p>
                <p class="card-text">
                    <%=product.price%>
                </p>
            </div>
        </div>
    </div>
    <form method="post" action="/cart/<%=product._id %>">
        <button type="submit" class="btn btn-danger">Add to cart</button></a>
    </form>

    <%- include("./layouts/footer");-%>